#frame{
    background-color: rgba(5, 5, 5, 0.61);
    width:1100px;
    height:731px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

.frame{
 background-color: white;
  color: black;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	zoom: 98%
}

#select{
    width:300px;
    height:300px;
    position: absolute;
    right: 0;
    background-color: white;
    right: 2%;
    top: 1%;
    color: black;
}

#tabela{
    width:600px;
    height:400px;
    margin-right:px;
    position: absolute;
    bottom: 0;
    right: 0;
    right: 1%;
    bottom: 45%;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: auto;
    padding: 0%;
  
}

#tabelaid {
    
   
    border-collapse: collapse;  
    width: 100%;  
    border-radius: 15px;  
      
}


#tabelaid tbody tr {
    
    border-bottom: 1px solid #dbd8d8;
    line-height: 30px;  
    font-size: 18px;
    color: rgb(19, 18, 18);
    background-color: rgb(249, 248, 255);
    text-align:center;
    font-family: 'Balsamiq Sans', cursive;  

}

#tabelaid thead tr{
    margin-left: 5px;
    font-size: 25px ;
    font-family: 'Fredoka One', cursive;
    text-align:center;
    background: rgb(31,2,51);
    background: linear-gradient(90deg, rgba(31,2,51,1) 8%, rgba(119,156,242,1) 50%, rgba(187,0,219,1) 100%);
    color: white    ;
    word-spacing: 20px;
    height: 50px;
    width: 50px;   
}



#tabelaid tbody tr:nth-last-of-type(even){
    background-color: rgba(224, 223, 230, 0.582);
    color: rgb(130, 17, 236);
}

.input{
    width:600px;
    height:310px;
    right: 1%;
    bottom: 1%;
    margin-right:px;
    position: absolute;
    background-color: white;

    
    
}
.input-group{
 
}

#btn-criar{
    top: 40%;
    right: 1%;
    width: 300px;
    left: 0%;
    position: absolute;
    text-align: center;

}

#btn-deletar{
    top: 80%;
    left: 0%;
    width: 300px;
    position: absolute;
    text-align: center;
    background-color: white;
    background: rgb(31,2,51);
    background: linear-gradient(90deg, rgba(31,2,51,1) 8%, rgba(119,156,242,1) 50%, rgba(187,0,219,1) 100%);
}

#btn-enviar{
    top: 60%;
    left: 0%;
    width: 300px;
    position: absolute;
    text-align: center;
}